<section class="flex justify-center items-center w-full h-full">
  <div
    class="border border-neutral-500 bg-neutral-600 rounded-md z-20 shadow-lg max-w-[320px] p-5"
  >
    <div class="text-center my-5">
      <app-icon
        class="inline-block mx-auto"
        icon="shield-lock-fill"
        [size]="40"
      ></app-icon>
    </div>

    <h3 class="font-semibold text-2xl mb-3 text-center">
      {{ "AUTH.LOGIN_TITLE" | translate }}
    </h3>

    <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
      <div class="mt-3 min-h-[95px]">
        <label for="email">
          {{ "AUTH.ENTER_EMAIL" | translate }}
        </label>
        <input
          class="bg-transparent autofill:bg-transparent rounded focus:outline-none w-full border focus:right-5 focus:ring-orange-400 ring-offset-2 border-neutral-500 py-2 px-4 mt-1"
          [ngClass]="{
            'border-red-500': email.invalid && (email.touched || email.dirty)
          }"
          id="email"
          type="email"
          formControlName="email"
        />

        <div
          *ngIf="email.invalid && (email.touched || email.dirty)"
          class="text-red-400 mx-2"
        >
          <small *ngIf="email.errors?.['required']">
            {{ "AUTH.EMAIL_ERR.REQUIRED" | translate }}
          </small>
          <small *ngIf="email.errors?.['email']">
            {{ "AUTH.EMAIL_ERR.EMAIL" | translate }}
          </small>
        </div>
      </div>

      <div class="min-h-[95px]">
        <label for="password" class="mt-3">
          {{ "AUTH.ENTER_PASS" | translate }}
        </label>
        <input
          class="bg-transparent autofill:bg-transparent rounded focus:outline-none w-full border focus:right-5 focus:ring-orange-400 ring-offset-2 border-neutral-500 py-2 px-4 mt-1"
          [ngClass]="{
            'border-red-500': password.invalid && password.touched
          }"
          id="password"
          type="password"
          formControlName="password"
        />
        <div
          *ngIf="password.invalid && password.touched"
          class="text-red-400 mx-2"
        >
          <small *ngIf="password.errors?.['required']">
            {{ "AUTH.PASS_ERR.REQUIRED" | translate }}
          </small>
          <small *ngIf="password.errors?.['minlength']">
            {{
              "AUTH.PASS_ERR.MIN_LEN"
                | translate
                  : { value: password.errors?.["minlength"].requiredLength }
            }}
          </small>
        </div>
      </div>

      <button
        class="w-full py-2 bg-orange-500 rounded hover:bg-orange-600 disabled:opacity-80 text-center"
        [disabled]="loginForm.invalid || submitting"
      >
        <span *ngIf="!submitting; else loading">
          {{ "APP.LOGIN" | translate }}
        </span>
      </button>
    </form>
  </div>
</section>

<ng-template #loading>
  <app-icon class="inline-block animate-spin" icon="gear-fill"></app-icon>
</ng-template>
