<section class="flex justify-center items-center w-screen h-screen">
  <div
    class="border border-neutral-500 bg-neutral-600 rounded-md z-20 shadow-lg max-w-[320px] p-5"
  >
    <div class="text-center my-5">
      <app-icon
        class="inline-block mx-auto"
        icon="shield-lock-fill"
        [size]="40"
      ></app-icon>
    </div>

    <h3 class="font-semibold text-2xl mb-3">Login to your account</h3>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label for="email">Enter your email:</label>
      <input
        class="bg-transparent autofill:bg-transparent rounded focus:outline-none w-full border focus:right-5 focus:ring-orange-400 ring-offset-2 border-neutral-500 py-2 px-4 mt-1 mb-3"
        id="email"
        type="email"
        formControlName="email"
      />

      <label for="password">Enter Password:</label>
      <input
        class="bg-transparent autofill:bg-transparent rounded focus:outline-none w-full border focus:right-5 focus:ring-orange-400 ring-offset-2 border-neutral-500 py-2 px-4 mt-1 mb-3"
        id="password"
        type="password"
        formControlName="password"
      />

      <button
        class="w-full py-2 bg-orange-500 rounded hover:bg-orange-600 disabled:opacity-80 mt-5 text-center"
        [disabled]="loginForm.invalid || submitting"
      >
        <span *ngIf="!submitting; else loading">Login</span>
      </button>
    </form>
  </div>
</section>

<ng-template #loading>
  <app-icon class="inline-block animate-spin" icon="gear-fill"></app-icon>
</ng-template>
