<app-modal [modalID]="modalID" (close)="resetData()">
  <div class="my-5 text-center">
    <app-icon
      class="inline-block mx-3"
      icon="person-plus-fill"
      [size]="40"
    ></app-icon>

    <h3 class="text-lg font-semibold">
      {{ user && user.name ? user.name : "New User" }}
    </h3>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label class="flex" for="email">
      {{ "USER.PROP.NAME" | translate }}
    </label>
    <input
      class="bg-transparent autofill:bg-transparent rounded focus:outline-none w-full border focus:right-5 focus:ring-orange-400 ring-offset-2 border-neutral-500 py-2 px-4 mt-1 mb-3"
      id="email"
      type="text"
      formControlName="name"
    />

    <label class="flex" for="email">
      {{ "USER.PROP.EMAIL" | translate }}
    </label>
    <input
      class="bg-transparent autofill:bg-transparent rounded focus:outline-none w-full border focus:right-5 focus:ring-orange-400 ring-offset-2 border-neutral-500 py-2 px-4 mt-1 mb-3"
      id="email"
      type="email"
      formControlName="email"
    />

    <label class="flex" for="password">
      {{ "USER.PROP.LOCATION" | translate }}
    </label>
    <input
      class="bg-transparent autofill:bg-transparent rounded focus:outline-none w-full border focus:right-5 focus:ring-orange-400 ring-offset-2 border-neutral-500 py-2 px-4 mt-1 mb-3"
      id="password"
      type="text"
      formControlName="address"
    />

    <div class="grid grid-cols-2 gap-2">
      <div class="flex items-center bg-red-400 rounded py-1 px-2">
        <input
          type="radio"
          name="role"
          [value]="UserRole.Admin"
          id="admin"
          formControlName="role"
        />
        <label class="mx-3" for="admin">
          {{ "ROLES.ADMIN" | translate }}
        </label>
      </div>
      <div class="flex items-center bg-cyan-700 rounded py-1 px-2">
        <input
          type="radio"
          name="role"
          [value]="UserRole.Contributor"
          id="contributor"
          formControlName="role"
        />
        <label class="mx-3" for="contributor">
          {{ "ROLES.CONTRIBUTOR" | translate }}
        </label>
      </div>
      <div class="flex items-center bg-neutral-800 rounded py-1 px-2">
        <input
          type="radio"
          name="role"
          [value]="UserRole.Viewer"
          id="viewer"
          formControlName="role"
        />
        <label class="mx-3" for="viewer">
          {{ "ROLES.VIEWER" | translate }}
        </label>
      </div>
      <div class="flex items-center bg-purple-800 rounded py-1 px-2">
        <input
          type="radio"
          name="role"
          [value]="UserRole.Editor"
          id="editor"
          formControlName="role"
        />
        <label class="mx-3" for="editor">
          {{ "ROLES.EDITOR" | translate }}
        </label>
      </div>
    </div>

    <button
      type="submit"
      class="w-full py-2 bg-orange-500 rounded hover:bg-orange-600 disabled:opacity-80 mt-5 text-center"
      [disabled]="userForm.invalid || saving"
    >
      <span *ngIf="!saving; else loading">
        {{ (user ? "USER.EDIT" : "USER.ADD") | translate }}
      </span>
    </button>
  </form>
</app-modal>
<ng-template #loading>
  <app-icon class="inline-block animate-spin" icon="gear-fill"></app-icon>
</ng-template>
