<app-modal [modalID]="modalID" (close)="resetData()">
  <div class="my-5 text-center">
    <app-icon
      class="inline-block mx-3"
      icon="person-plus-fill"
      [size]="40"
    ></app-icon>

    <h3 class="text-lg font-semibold">
      {{ user && user.name ? user.name : "New User" }}
    </h3>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="mt-3 min-h-[95px]">
      <label class="flex mb-2" for="name">
        {{ "USER.PROP.NAME" | translate }}
      </label>
      <input
        class="bg-transparent autofill:bg-transparent rounded focus:outline-none w-full border focus:right-5 focus:ring-orange-400 ring-offset-2 border-neutral-500 py-2 px-4"
        [ngClass]="{
          'border-red-500': name.invalid && (name.touched || name.dirty)
        }"
        id="name"
        type="text"
        formControlName="name"
      />
      <div
        *ngIf="name.invalid && (name.touched || name.dirty)"
        class="flex text-red-400 mx-2"
      >
        <small *ngIf="name.errors?.['required']">
          {{ "USER.FORM.NAME_ERR.REQUIRED" | translate }}
        </small>
      </div>
    </div>

    <div class="mt-3 min-h-[95px]">
      <label class="flex mb-2" for="email">
        {{ "USER.PROP.EMAIL" | translate }}
      </label>
      <input
        class="bg-transparent autofill:bg-transparent rounded focus:outline-none w-full border focus:right-5 focus:ring-orange-400 ring-offset-2 border-neutral-500 py-2 px-4"
        [ngClass]="{
          'border-red-500': email.invalid && (email.touched || email.dirty)
        }"
        id="email"
        type="email"
        formControlName="email"
      />
      <div
        *ngIf="email.invalid && (email.touched || email.dirty)"
        class="flex text-red-400 mx-2"
      >
        <small *ngIf="email.errors?.['required']">
          {{ "USER.FORM.EMAIL_ERR.REQUIRED" | translate }}
        </small>
        <small *ngIf="email.errors?.['email']">
          {{ "USER.FORM.EMAIL_ERR.EMAIL" | translate }}
        </small>
      </div>
    </div>

    <div class="mt-3 min-h-[95px]">
      <label class="flex mb-2" for="address">
        {{ "USER.PROP.LOCATION" | translate }}
      </label>
      <input
        class="bg-transparent autofill:bg-transparent rounded focus:outline-none w-full border focus:right-5 focus:ring-orange-400 ring-offset-2 border-neutral-500 py-2 px-4"
        [ngClass]="{
          'border-red-500': address.invalid && address.touched
        }"
        id="address"
        type="text"
        formControlName="address"
      />
      <div
        *ngIf="address.invalid && address.touched"
        class="flex text-red-400 mx-2"
      >
        <small *ngIf="address.errors?.['required']">
          {{ "USER.FORM.LOC_ERR.REQUIRED" | translate }}
        </small>
      </div>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 mt-3">
      <div class="flex items-center bg-red-400 rounded py-1 px-2">
        <input
          type="radio"
          name="role"
          [value]="UserRole.Admin"
          id="admin"
          formControlName="role"
        />
        <label class="mx-3" for="admin">
          {{ "ROLES.ADMIN" | translate }}
        </label>
      </div>
      <div class="flex items-center bg-cyan-700 rounded py-1 px-2">
        <input
          type="radio"
          name="role"
          [value]="UserRole.Contributor"
          id="contributor"
          formControlName="role"
        />
        <label class="mx-3" for="contributor">
          {{ "ROLES.CONTRIBUTOR" | translate }}
        </label>
      </div>
      <div class="flex items-center bg-neutral-800 rounded py-1 px-2">
        <input
          type="radio"
          name="role"
          [value]="UserRole.Viewer"
          id="viewer"
          formControlName="role"
        />
        <label class="mx-3" for="viewer">
          {{ "ROLES.VIEWER" | translate }}
        </label>
      </div>
      <div class="flex items-center bg-purple-800 rounded py-1 px-2">
        <input
          type="radio"
          name="role"
          [value]="UserRole.Editor"
          id="editor"
          formControlName="role"
        />
        <label class="mx-3" for="editor">
          {{ "ROLES.EDITOR" | translate }}
        </label>
      </div>
    </div>

    <button
      type="submit"
      class="w-full py-2 bg-orange-500 rounded hover:bg-orange-600 disabled:opacity-80 mt-5 text-center"
      [disabled]="userForm.invalid || saving"
    >
      <span *ngIf="!saving; else loading">
        {{ (user ? "USER.EDIT" : "USER.ADD") | translate }}
      </span>
    </button>
  </form>
</app-modal>
<ng-template #loading>
  <app-icon class="inline-block animate-spin" icon="gear-fill"></app-icon>
</ng-template>
