<main class="md:container p-3 mx-auto">
  <section class="flex justify-end items-center space-x-3 mt-3">
    <button
      class="py-1 px-4 bg-orange-400 hover:bg-orange-500 rounded"
      (click)="logout()"
    >
      {{ "APP.LOGOUT" | translate }}
    </button>
  </section>

  <h1 class="text-3xl text-center">{{ "WELCOME" | translate }}</h1>

  <h3 class="text-xl mt-5 mb-3 font-semibold">
    {{ "APP.TITLE" | translate }}
  </h3>
  <app-top-bar
    (search_input)="searchUsers($event)"
    (joined_filter)="filterByJoined($event)"
    (permissions_filter)="filterByPermissions($event)"
    (export_pdf)="exportTablePDF()"
  ></app-top-bar>

  <section class="overflow-x-auto max-w-full mt-5">
    <app-users-table
      [loading]="lodingUsers"
      [users]="usersData"
      (sort_column)="sortUsers($event)"
      (user_delete)="deleteUser($event)"
      (edited_user)="editedUser = $event"
    ></app-users-table>
  </section>

  <section class="flex flex-wrap justify-between bg-neutral-600 py-3 md:px-5">
    <app-paginator
      *ngIf="usersData.total"
      [itemsLength]="+usersData.total"
      [currentPage]="+getUsersParams._page"
      [itemsPerPage]="+getUsersParams._limit"
      (current_page)="pageChange($event)"
    ></app-paginator>

    <div
      *ngIf="usersData && parseToNum(usersData.total) > 10"
      class="flex items-center"
    >
      <p class="text-xl me-3">{{ "APP.SHOW" | translate }}:</p>
      <app-dropdown
        [dataType]="'APP.ROW' | translate"
        [items]="usersPerPageList"
        position="bottom-9"
        (selected_item)="pageLimitChange($event.value)"
      ></app-dropdown>
    </div>
  </section>
</main>

<app-user-form
  [user]="editedUser"
  (add_user)="addUser($event)"
  (edit_user)="editUser($event)"
></app-user-form>
