<main class="md:container p-3 mx-auto">
  <section class="flex justify-end space-x-3 mt-3">
    <button
      class="py-1 px-4 bg-orange-400 hover:bg-orange-500 rounded"
      (click)="logout()"
    >
      Logout
    </button>
  </section>

  <h3 class="text-xl mt-5 mb-3 font-semibold">Users Management</h3>
  <app-top-bar
    (search_input)="searchUsers($event)"
    (joined_filter)="filterByJoined($event)"
    (permissions_filter)="filterByPermissions($event)"
    (export_pdf)="exportPDF()"
  ></app-top-bar>

  <section class="overflow-x-auto max-w-full mt-5">
    <app-users-table
      [users]="usersData"
      (sort_column)="sortUsers($event)"
      (user_delete)="deleteUser($event)"
      (user_edit)="editUser($event)"
      (user_add)="addUser($event)"
    ></app-users-table>
  </section>

  <section class="flex justify-between bg-neutral-600 p-5">
    <app-paginator
      *ngIf="usersData.total"
      [itemsLength]="+usersData.total"
      [currentPage]="+getUsersParams._page"
      [itemsPerPage]="getUsersParams._limit"
      (current_page)="pageChange($event)"
    ></app-paginator>

    <div
      *ngIf="usersData && parseToNum(usersData.total) > 10"
      class="flex items-center"
    >
      <p class="text-xl mr-3">Show:</p>
      <app-dropdown
        dataType="row"
        [items]="usersPerPageList"
        position="bottom-9"
        (selected_item)="perPageChange($event.value)"
      ></app-dropdown>
    </div>
  </section>
</main>
